.colorPanel{
    display: flex;
    position: relative;
}
.currentColor{
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border-radius: 15px;
}
.colorPicker{
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 10px 10px 55px;
    z-index: 1;
    background-color: #504d58a3;
}